/*
===========================
	TIPOGRAFIAS
===========================
*/

@font-face {
	font-family: '';
	src: url('') format('');
}


/*
===========================
	variables css
===========================
*/

/*
===========================
	css comun
===========================
*/

* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #F7CF93 !important;
}

hr {
	height: 90%;
	border: 0.5px solid black;
}

.mensajeRegistro {
	font-size: 18px;
	color: rgb(255, 115, 0);
	text-align: center;
}

.btn {
	background-color: rgb(255, 115, 0) !important;
	color: azure !important;
	border-color: rgb(255, 115, 0) !important;
}



/*
===========================
	responsive
===========================
*/

@media screen and (orientation: landscape) {}
@media screen and (orientation: portrait) {}


/*
===========================
	animaciones
===========================
*/

@keyframes animacion {
	0% {}
	100% {}
}